[Unit]
Description=Nes56 RCV service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u rcv_server.py
WorkingDirectory=/opt/rcv/rcv/
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target

