[Unit]
Description=Nes56 RCV service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/rcv/rcv/rcv_server.py
WorkingDirectory=/opt/rcv/rcv/

[Install]
WantedBy=mutli-user.target

